---
import Gallery from '../../../molecules/products/Gallery.astro';
import ProductForm from '../../../molecules/products/ProductForm.astro';
import ProductStockStatus from '../../../molecules/products/ProductStockStatus.svelte';
import Price from '../../../atoms/Price.astro';
import Reviews from '../../../molecules/products/Reviews.astro';

const { product, selectedOrFirstAvailableVariant } = Astro.props;

---

<Gallery images={product.images.edges} />

<!-- Product info -->
<div class="max-w-2xl mx-auto pt-10 pb-16 px-4 sm:px-6 lg:max-w-7xl lg:pt-16 lg:pb-24 lg:px-8 lg:grid lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8">
  <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
    <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">{ product.title }</h1>
  </div>

  <!-- Options -->
  <div aria-labelledby="information-heading" class="mt-4 lg:mt-0 lg:row-span-3">
    <h2 id="information-heading" class="sr-only">Product information</h2>
    <Price id={product.id} price={product.priceRange} compare={product.compareAtPriceRange} />

    <Reviews product={ product } />

    <ProductStockStatus inStock={product.availableForSale} client:load/>

    <ProductForm product={ product } selectedOrFirstAvailableVariant={selectedOrFirstAvailableVariant}/>
  </div>

  <div class="py-10 lg:pt-6 lg:pb-16 lg:col-start-1 lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
    <!-- Description and details -->
    <div>
      <h3 class="sr-only">Description</h3>

      <div class="space-y-6">
        <p class="text-base text-gray-900">{ product.description }</p>
      </div>
    </div>
  </div>
</div> <!-- /Product Info -->
