---
import Head from '../organisms/Head.astro';
import Header from '../organisms/Header.astro';
import HeaderIndex from '../organisms/HeaderIndex.astro';
import Footer from '../organisms/Footer.astro';

import '../assets/styles/global.css';
export interface Props {
	title: string;
  description?: string;
  socialImage?: string;
  socialImageAlt?: string;
	header?: string
}

const { title: pageTitle, description, socialImage, socialImageAlt, header } = Astro.props;
const canonicalUrl = Astro.canonicalURL;
const siteName = canonicalUrl.pathname;
const title = `${pageTitle} - ${siteName}`;

---

<!DOCTYPE html>
<html lang="en">
<head>
	<Head {title} {description} {canonicalUrl} {siteName} {socialImage} {socialImageAlt} />
</head>
<body class="min-h-screen w-screen">
  <div class="bg-gray-50">
    <div>
			{ header=='index' ? <HeaderIndex currentPage={Astro.request.url.pathname} /> : <Header currentPage={Astro.request.url.pathname} /> }
      <slot />
      <Footer />
    </div>
  </div>
</body>
</html>

<script>
	import Theme from '../assets/scripts/theme-settings.js';
	import '../assets/scripts/drawers.js';

	if (!window.hasOwnProperty('Theme')) {
		window.Theme = Theme;
	}
</script>