---
import Head from '../organisms/Head.astro';
import Header from '../organisms/Header.astro';
import HeaderIndex from '../organisms/HeaderIndex.astro';
import Footer from '../organisms/Footer.astro';
import Toasts from '../molecules/Toasts.svelte';

import '../assets/styles/global.css';
export interface Props {
	title: string;
  description?: string;
  socialImage?: string;
  socialImageAlt?: string;
	header?: string
}

const { title: pageTitle, description, socialImage, socialImageAlt, header } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site),
	siteName = canonicalUrl.pathname,
	title = `${pageTitle} - ${siteName}`,
	currentPath = Astro.url.pathname.slice(1),
	currentTemplate = currentPath.includes('products') ? 'product' : currentPath.includes('collections') ? 'collection' : 'page';
---

<!DOCTYPE html>
<html lang="en">
<head>
	<Head {title} {description} {canonicalUrl} {siteName} {socialImage} {socialImageAlt} />
</head>
<body class="min-h-screen w-screen" data-current-template={currentTemplate} data-current-path={currentPath}>
  <div class="bg-gray-50">
    <div>
			{ header=='index' ? <HeaderIndex currentPage={Astro.request.url.pathname} /> : <Header currentPage={Astro.request.url.pathname} /> }
      <slot />
      <Footer />
    </div>
  </div>
  <Toasts client:visible />
</body>
</html>

<script>
	import Theme from '../assets/scripts/theme-settings.js';
	if (!Object.prototype.hasOwnProperty.call(window, 'Theme')) {
		window.Theme = Theme;
	}
	import '../assets/scripts/drawers.js';
	import '../assets/scripts/mini-cart.js';

	Theme.currentPath = document.querySelector('body').dataset.currentPath;
</script>
