---
import ColourVariant from '../molecules/products/ColourVariant.astro';
import Price from '../atoms/Price.astro';
import Image from '../atoms/Image.astro';
import Tags from '../molecules/products/Tags.astro';
import { productUrl } from '../routes/api/utils/makeUrl.js';
const { product } = Astro.props

/* TODO: Color swatches
*/

// for( const p of product.variants.edges) {
// console.log(p.node.selectedOptions);
// }

console.log(product.variants.edges.forEach(option => console.log(option.node)));


---

<a href={productUrl(product.handle)} class="group relative">
	<Tags product={product} />
  <div class="w-full aspect-square rounded-lg overflow-hidden ">
    <Image image={product.featuredImage} class="w-full h-full object-center object-cover group-hover:opacity-75" />
  </div>
  <div class="mt-4 flex items-center justify-between text-base font-medium text-gray-900">
    <h3>{ product.title }</h3>
    <Price price={product.priceRange} compare={product.compareAtPriceRange} />
  </div>
  <p class="mt-1 text-sm italic text-gray-500">Black</p>
	{product.variants.edges.filter(option => option.node.name == 'Colour' || option.node.name == 'Color').length}
	{ product.variants.edges.length > 1 && product.variants.edges.map( (option, index) => {
    if (option.node.name == 'Colour' || option.node.name == 'Color') {
      return <ColourVariant option={ option.node } optionIndex={index} />
		}
	}) }
</a>
