---
import Price from '../atoms/Price.astro';
import Image from '../atoms/Image.astro';
import Tags from '../molecules/products/Tags.astro';
import { productUrl } from '../routes/api/utils/makeUrl.js';
const { product } = Astro.props

/* TODO: Color swatches
*/

console.log({product});


---

<a href={productUrl(product.handle)} class="group relative">
	<Tags product={product} />
  <div class="w-full aspect-square rounded-lg overflow-hidden ">
    <Image image={product.featuredImage} class="w-full h-full object-center object-cover group-hover:opacity-75" />
  </div>
  <div class="mt-4 flex items-center justify-between text-base font-medium text-gray-900">
    <h3>{ product.title }</h3>
    <Price price={product.priceRange} compare={product.compareAtPriceRange} />
  </div>
  <p class="mt-1 text-sm italic text-gray-500">Black</p>
</a>
